:root {
  --typewriterSpeed: 1s;
  --typewriterCharacters: 19;
  --animate-delay: 2s;
}

body {
  font-family: "Product Sans Bold";
  height: 100vh;
  place-content: center;
  text-align: center;
  overflow-y: hidden;
  overflow-x: hidden;
}

.bdaydate {
  animation: bdaydate 2s 4s ease forwards;
}

@keyframes bdaydate {
  0% { opacity: 1; }
  10% { opacity: 1; }
  20% { opacity: 1; }
  30% { opacity: 1; }
  40% { opacity: 1; }
  50% { opacity: 1; }
  60% { opacity: 1; }
  70% { opacity: 1; }
  80% { opacity: 1; }
  95% { opacity: 0; }
  100% { opacity: 0; }
}
.date {
  position: absolute;
  left: 50%;
  top: 45%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: clamp(1rem, 3vw + 1rem, 4rem);
  width: max-content;
}

.date::before,
.date::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.date::before {
  background: white;
  animation: typewriter var(--typewriterSpeed)
    steps(var(--typewriterCharacters)) 1s forwards;
}

.toReplace::after {
  content: "1";
  animation: replacing 2s linear calc(var(--typewriterSpeed) + 1s)  forwards;
}

.date::after {
  width: 0.125em;
  background: black;
  animation: typewriter var(--typewriterSpeed)
      steps(var(--typewriterCharacters)) 1s forwards,
    blink 750ms steps(var(--typewriterCharacters)) infinite;
}

.moreyears {
  opacity: 0;
  position: absolute;
  animation: moreyears 8s ease 47s forwards;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@keyframes moreyears {
  0% { opacity: 0; }
  10% { opacity: 0; }
  20% { opacity: 0; }
  30% { opacity: 0; }
  40% { opacity: 0; }
  50% { opacity: 1; }
  60% { opacity: 1; }
  70% { opacity: 1; }
  80% { opacity: 1; }
  95% { opacity: 0; }
  100% { opacity: 0; }
}

.finalpart {
  opacity: 0;
  position: absolute;
  animation: finalpart 3s ease 64s forwards;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@keyframes finalpart {
  0% { opacity: 0; }
  10% { opacity: 1; }
  100% { opacity: 1; }
}

.cursor {
  height: 35px;
  width: 30px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  animation: curmov 2s 64s linear forwards,
              curclick 1s linear 66s forwards;
}

.chapter {
  font-family: "Product Sans Bold";
  text-decoration: none; 
  background-color: #f4b400; 
  padding: 10px; 
  border-radius: 5px; 
  font-size: 40px; 
  color: white;
  animation: btnclick 1s linear 66s forwards;
}

@keyframes curmov {
  10% {
    left: 1200px;
    top: 600px;
  }

  80% {
    left: 1200px;
    top: 600px;
  }
}

@keyframes curclick {
  0% {
    height: 35px;
    width: 30px;
  }
  50% {
    height: 25px;
    width: 20px;
  }
}

@keyframes btnclick {
  0% {
    background-color: #f4b400;
  }
  50% {
    background-color: #c99400;
  }
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes blink {
  to {
    background: transparent;
  }
}

@keyframes replacing {
  0% {
    content: "1";
  }
  50% {
    color: white;
  }
  100% {
    content: "2";
  }
} 

