body {
    height:100vh; 
    overflow-y: hidden;
    overflow-x: hidden;
  }

.logogroup {
    opacity: 1;
    animation: logogroup 2.5s ease 46s forwards;
}

@keyframes logogroup {
  0% { opacity: 1; }
  10% { opacity: 1; }
  20% { opacity: 1; }
  30% { opacity: 1; }
  40% { opacity: 1; }
  50% { opacity: 1; }
  60% { opacity: 1; }
  70% { opacity: 1; }
  80% { opacity: 1; }
  95% { opacity: 0; }
  100% { opacity: 0; }
}

.logo {
    position: absolute;
    opacity: 0;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    animation-name: logo;
    animation-duration: 2s;
    animation-delay: 38s;
    animation-fill-mode: forwards;
}

@keyframes logo {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.logo1 {
    padding: 0px 10px;
    animation-name: logo1;
    animation-duration: 2s;
    animation-delay: 41s;
    animation-fill-mode: forwards;
    width: 40%;
    height: 40%;
}

@keyframes logo1 {
    0% { opacity: 1; }
    100% { transform: translate(-150%, 0); }
}

.logo2 {
    padding: 0px 10px;
    width: 40%;
    height: 40%;
    animation-name: logo2;
    animation-duration: 2s;
    animation-delay: 41s;
    animation-fill-mode: forwards;
}

@keyframes logo2 {
    0% { opacity: 1; }
    100% { transform: translate(150%, 0); }
}

.gdgalg {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: flex;
    opacity: 0;
    text-align: center;
    justify-content: center;
    animation-name: gdgalgiers;
    animation-duration: 2s;
    animation-delay: 43s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

.gdgalgiers {
    font-family: "Product Sans Bold";
    font-size: 60px;
}

.gdgalgiers::before {
    content: "Happy Birthday";
    display: flex;
    text-align: center;
    font-size: 60px;
    animation-name: gdgalgiers;
}

@keyframes gdgalgiers {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.hat {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-230%, -600%);
    animation-name: birthdayhat;
    animation-duration: 3s;
    animation-delay: 43s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

@keyframes birthdayhat {
    0% { transform: translate(-230%, -500%); }
    100% { transform: translate(-230%, -120%); }
}

.bdayhat {
    width: 60%;
    height: 60%;
    transform: rotate(-10deg);
}
