body {
  height:100vh; 
  overflow-y: hidden;
  overflow-x: hidden;
}

.letters {
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -63%);
  animation: lettersglob 2s 5.5s ease-out forwards,
             letters 5.5s 10s ease-out forwards;
}

.countdown h1{
  color: #4285F4;
  font-weight: 100;
  font-size: 40px;
  margin: 40px 0px 20px;
}

.countdown #clockdiv{
  font-family: sans-serif;
  color: #fff;
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 30px;
}

.countdown #clockdiv > div{
  padding: 10px;
  border-radius: 3px;
  background: #4285F4;
  display: inline-block;
}

.countdown #clockdiv div > span{
  padding: 15px;
  border-radius: 3px;
  background: #0b68ff;
  display: inline-block;
}

.smalltext{
  padding-top: 5px;
  font-size: 16px;
}

@keyframes lettersglob {
  0% { opacity: 0; }
  10% { opacity: 0; }
  20% { opacity: 0; }
  30% { opacity: 0; }
  40% { opacity: 0; }
  50% { opacity: 0; }
  60% { opacity: 0; }
  70% { opacity: 0; }
  80% { opacity: 0; }
  95% { opacity: 1; }
  100% { opacity: 1; }
}

@keyframes letters {
  0% { opacity: 1; }
  10% { opacity: 1; }
  20% { opacity: 1; }
  30% { opacity: 1; }
  40% { opacity: 1; }
  50% { opacity: 1; }
  60% { opacity: 1; }
  70% { opacity: 1; }
  80% { opacity: 1; }
  95% { opacity: 0; }
  100% { opacity: 0; }
}

.aMin {
    display: flex;
    text-align: left;
    justify-content:flex-start;
    position: relative;
}

.a {
  color: #0f9d58;
  font-size: 50px;
  opacity: 0;
  font-family: "Product Sans Regular";
  left: 50%;
  right: 50%;
  transform: translate(60%, -5%);
  animation-name: of;
  animation-duration: 5s;
  animation-delay: 10s;
  animation-fill-mode: forwards;
}

@keyframes letterA {
  0% {opacity: 0;}
  90% {opacity: 1;}
  100% {opacity: 1;}
}

.letterG {
    display: flex;
    text-align: center;
    justify-content: space-between;
    position: relative;
    left: 48%;
    right: 50%;
    transform: translate(-50%, -54%);
}

.G1 {
  text-align: center;
  padding: 0px 20px;
  font-family: "Product Sans Regular";
  color: #4285f4;
  font-size: 70px;
}

.G1::after {
  content: "lorious";
  opacity: 0;
  animation: glorious 3s 11s forwards;
}

@keyframes glorious {
  0% {opacity: 0;}
  100% {opacity: 1;}
} 

.letterD {
  display: block;
  text-align: left;
  justify-content:flex-start;
  position: absolute;
  animation-name: letterD;
  animation-duration: 2s;
  animation-delay: 9s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

.D {
  font-family: "Product Sans Regular";
  transform: translate(30%, -323%);
  color: #db4437;
  font-size: 70px;

}

.D::after {
  content: "ecade";
  opacity: 0;
  animation: decade 3s 11s forwards;
  margin-left: -14px;
}

@keyframes decade {
  0% {opacity: 0; }
  100% {opacity: 1; }
} 

@keyframes letterD {
  0% {opacity: 1;}
  100% {
    transform: translate(-25%, 39%);
  }
}

.ofDiv {
  display: block;
  text-align: left;
  justify-content:flex-start;
  position: absolute;
}

.of {
  color: #0f9d58;
  opacity: 0;
  font-size: 50px;
  font-family: "Product Sans Regular";
  margin-top: 23px;
  transform: translate(30%, -178%);
  animation-name: of;
  animation-delay: 10s;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

@keyframes of {
  0% {opacity: 0;}
  90% {opacity: 1;}
  100% {opacity: 1;}

}

.lettersG2 {
  display: block;
  text-align: left;
  justify-content:flex-start;
  position: absolute;
}

.G2 {
  color: #f4b400;
  font-size: 70px;
  font-family: "Product Sans Regular";
  transform: translate(39%, -324%);
  animation-name: letterG2;
  animation-duration: 2s;
  animation-delay: 9s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

@keyframes letterG2 {
  0% { opacity: 1; }
  100% { transform: translate(3.8%, -97%);}
}

.G2::after {
  content: "oodness";
  opacity: 0;
  animation: goodness 3s 11s forwards;
}

@keyframes goodness {
  0% {opacity: 0; }
  100% {opacity: 1; }
}

.sidetext {
  position:absolute;
  height: 600px;
  left: 2%;
  top: 50%;
  -webkit-transform: translate(50%, -50%);
  transform: translate(50%, -50%);

}

.GDGlogo {
  position: absolute;
  width: 20%;
  left: 78%;
  top: 90%;
}