.letters {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -63%);
}

.aMin {
    display: flex;
    text-align: left;
    justify-content:flex-start;
    position: relative;
}

.a {
  color: #0f9d58;
  font-size: 100px;
  opacity: 0;
  font-family: "Product Sans Regular";
  left: 50%;
  right: 50%;
  transform: translate(60%, 0%);
  animation-name: letterA;
  animation-duration: 4s;
  animation-delay: 4s;
  animation-fill-mode: forwards;
}

@keyframes letterA {
  0% {opacity: 0;}
  90% {opacity: 1;}
  100% {opacity: 1;}
}

.letterG {
    display: flex;
    text-align: center;
    justify-content: space-between;
    position: relative;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    padding: 7px;
}

.G1 {
  text-align: center;
  padding: 0px 20px;
  font-family: "Product Sans Regular";
  color: #4285f4;
  font-size: 140px;
}

.G1::after {
  content: "lorious";
  opacity: 0;
  animation: glorious 2s 5s forwards;
}

@keyframes glorious {
  0% {opacity: 0;}
  100% {opacity: 1;}
} 

.letterD {
  display: block;
  text-align: left;
  justify-content:flex-start;
  position: absolute;
  animation-name: letterD;
  animation-duration: 2s;
  animation-delay: 3s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

.D {
  font-family: "Product Sans Regular";
  transform: translate(30%, -323%);
  color: #db4437;
  font-size: 140px;

}

.D::after {
  content: "ecade";
  opacity: 0;
  animation: decade 2s 5s forwards;
  margin-left: -29px;
}

@keyframes decade {
  0% {opacity: 0; }
  100% {opacity: 1; }
} 

@keyframes letterD {
  0% {opacity: 1;}
  100% {
    transform: translate(-25%, 39%);
  }
}

.ofDiv {
  display: block;
  text-align: left;
  justify-content:flex-start;
  position: absolute;
}

.of {
  color: #0f9d58;
  opacity: 0;
  font-size: 100px;
  font-family: "Product Sans Regular";
  padding-top: 30px;
  transform: translate(30%, -178%);
  animation-name: of;
  animation-delay: 4s;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}

@keyframes of {
  0% {opacity: 0;}
  90% {opacity: 1;}
  100% {opacity: 1;}

}

.lettersG2 {
  display: block;
  text-align: left;
  justify-content:flex-start;
  position: absolute;
}

.G2 {
  color: #f4b400;
  font-size: 140px;
  font-family: "Product Sans Regular";
  transform: translate(39%, -324%);
  animation-name: letterG2;
  animation-duration: 2s;
  animation-delay: 3s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

@keyframes letterG2 {
  0% { opacity: 1; }
  100% { transform: translate(3.8%, -98%);}
}

.G2::after {
  content: "oodness";
  opacity: 0;
  animation: goodness 2s 5s forwards;
}

@keyframes goodness {
  0% {opacity: 0; }
  100% {opacity: 1; }
}

@media screen and (max-width: 1400px) {
  
}